<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
<html lang="en">
  <head>
    <link href="static/home.css" rel="stylesheet" />
    <title>homepage</title>
  </head>
</html>
  <h1 id="b"><b>PIZZA</b></h1>
  <form action="/predict" method="POST"> 
  <input type="text" placeholder="Enter  Pizza Thickness" name="thickness" required>
  <br>
  <br>
    <input type="text" placeholder="Pizza Size" name="size" required>
   <br>
   <br>
    <button >Predict</button>
    <br>
    <br>
    </form>
 </body>
</html>

  </body>
</html>
